*{                             /* base */ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
body{                          /* Corpo */                                                                                 
    display: flex;                                                                                                      
    align-items: center;                                                                                                
    justify-content: center;                                                                                            
    font-family: sans-serif;                                                                                            
    background-color: powderblue;                                                                                     
    height: 100vh;                                                                                                      
    background-image: url(img/papel.jpg);                                                                               
    background-repeat: no-repeat;                                                                    /*tirar o repetidor da imagem de fundo*/
    background-size: 100%;                                                                                               /*tamanho do fundo*/
}                                                                                                                       
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#tiago{                        /* imagem */                                                                                
    height: 546px; 
    width: 500px;         
}              
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
p{                             /* historia */
    padding: 20px;
    line-height: 24px;
    font-size: 16px;
}        
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
h1 {                           /* titulo P1 verso */
    padding: 20px;
    font-size: 24px;
    text-align: center;
}                                                                                  
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/* p.one {      DESATIVADO     
    border-style: solid;
    border-color: red; 
} */ 
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.book{                         /* livro */ 
    position: relative;
    width: 500px;
    height: 550px;
    transition: transform 1.00s;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.paper{                        /* paginas */ 
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 1500px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
button {                /* botao */ 
    border: none;       
    background-color: transparent;
    cursor: pointer;
    margin: 10px 100px 10px 100px;                                                                       /* top - direita - bot - esquerda */
    transition: transform 1.0s;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.front,                        /* paginas */ 
.back{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: left;
    transition: transform 1.00s;
    border: 3px solid rgb(112, 112, 112);
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.front{                       /* frente */  
    z-index: 1;
    backface-visibility: hidden;
    border: 3px solid rgb(112, 112, 112);
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.back{                        /* atras */
    border: 3px solid rgb(112, 112, 112);
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.front-content,
.back-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.back-content{ 
    transform: rotateY(-180deg);
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
button:focus {
    outline: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
button:hover i{
    color: #636363;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
i{
    font-size: 50px;
    color: gray;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#p1 {
    z-index: 3;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#p2 {
    z-index: 2;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#p3 {
    z-index: 1;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/